server {
    server_name editor.ctruh.org www.editor.ctruh.com;
    gzip on;
    location / {
     proxy_pass http://localhost:3000;
    }

    listen 443 ssl default_server; # managed by Certbot
    ssl_certificate     /etc/ssl/private/ctruh-server.crt;
    ssl_certificate_key /etc/ssl/private/ctruh-server.key;

    client_max_body_size 200M;

}

server {
    server_name publish.ctruh.org www.publish.ctruh.com;
    gzip on;
    location / {
     proxy_pass http://localhost:5173;
    }

    listen 443 ssl default_server; # managed by Certbot
    ssl_certificate     /etc/ssl/private/ctruh-server.crt;
    ssl_certificate_key /etc/ssl/private/ctruh-server.key;

    client_max_body_size 200M;

}

